.product-table,
.product-table td {
  border: 1px solid palevioletred;
}
.product-table {
  width: 70%;
}

.product-table thead {
  background-color: palevioletred;
  color: #fff;
}
.productList {
  display: flex;
  justify-content: center;
}
.searchBar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}
.searchBar > input {
  margin-right: 5px;
}
