.list {
  margin-left: 10px;
  font-family: Courier, monospace;
  font-weight: bolder;
}
.title {
  font-size: 40px;
  color: plum;
  text-shadow: 3px 3px pink;
  letter-spacing: 5px;
}
.todo-ul {
  margin-left: 20px;
}
.date {
  margin-left: 30px;
}
.todo-form {
  margin-left: 20px;
}
