* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
  line-height: 25px;
}
button {
  outline: none;
  background: white;
  border: 1px solid #999;
}
.wrapper {
  width: 100vw-17px;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.wrapper > * {
  border: 2px solid pink;
  width: 30%;
  min-height: 200px;
  overflow: auto;
  margin-bottom: 20px;
}
